In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
ds=pd.read_csv('C:/Users/neeraj/MachineLearning_workspace/SimpleLinearRegression/albrecht.csv')

In [5]:
ds.head()

   Input   Output  Inquiry   File   FPAdj   RawFPcounts   AdjFP   Effort
0      25     150        75     60    1.00       1750.00    1750    102.4
1     193      98        70     36    1.00       1902.00    1902    105.2
2      70      27         0     12    0.80        535.00     428     11.1
3      40      60        20     12    1.15        660.00     759     21.1
4      10      69         1      9    0.90        478.89     431     28.8

In [6]:
ds.columns

Index([u'Input ', u'Output', u'Inquiry ', u'File ', u'FPAdj ', u'RawFPcounts ',
       u'AdjFP ', u'Effort '],
      dtype='object')

In [14]:
X = ds.loc[:,['Input ','Inquiry ', 'File ', 'FPAdj ', 'RawFPcounts ','AdjFP ', 'Effort ']]

In [15]:
X.head()

   Input   Inquiry   File   FPAdj   RawFPcounts   AdjFP   Effort
0      25        75     60    1.00       1750.00    1750    102.4
1     193        70     36    1.00       1902.00    1902    105.2
2      70         0     12    0.80        535.00     428     11.1
3      40        20     12    1.15        660.00     759     21.1
4      10         1      9    0.90        478.89     431     28.8

In [16]:
y = ds.loc[:,'Output']

In [17]:
y.head()

0    150
1     98
2     27
3     60
4     69
Name: Output, dtype: int64

In [19]:
from sklearn.cross_validation import train_test_split

In [21]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=123)

In [23]:
X_train.head(1)

   Input   Inquiry   File   FPAdj   RawFPcounts   AdjFP   Effort
8      45        14     16    0.95        715.79     680     12.9

In [24]:
y_train.head(1)

8    64
Name: Output, dtype: int64

In [26]:
X_test.head(1)

   Input   Inquiry   File   FPAdj   RawFPcounts   AdjFP   Effort
5      13         0     23    0.75        377.33     283     10.0

In [27]:
y_test.head(1)

5    19
Name: Output, dtype: int64

In [28]:
from sklearn.linear_model import LinearRegression

In [30]:
LinReg = LinearRegression()

In [31]:
LinReg.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [32]:
LinReg.predict(X_test)

array([19.00411225, 27.93802836, 68.01593475, 65.81121237, 37.92781734])

In [33]:
y_test

5     19
20    28
21    68
18    66
15    38
Name: Output, dtype: int64

In [34]:
LinReg.score(X_test,y_test)

0.9999772549482727